.flex-container{
    background-color: blanchedalmond;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 1000px;
    align-content: baseline;
}

.flex-container div{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    margin: 10px; 
}

#flex-child-44{
    align-self: flex-end;
}

img{
    width: 100%;
}