body{
    width: 75%;
    margin: auto;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    padding: 10px 15px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header nav ul li a:hover{
    border-bottom: 1px solid black;
}

span{
    color: orange
}

main{
    background-color: orange;
    border: 1px solid black;
} 

main section{
    text-align: center;
    background-color: grey;
    padding: 10px;
}

main h4{
    text-align: center;
}

footer{
    color: white;
    background-color: black;
    padding: 5%;
}

.flex-container{
    border: 1px solid black;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container div{
   width: 20%;
   margin: 20px;
   padding: 10px;
}

img{
    width: 100%
}